.grid{
    display: grid;
    gap: var(--sp-lg-5);
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas:
    'my-friends my-friends messages my-day'
    'my-friends my-friends tasks my-day'
    'my-friends my-friends tasks my-day'
    'project-1 project-2 project-3 my-day'
    'project-1 project-2 project-3 my-day'


}

.my-friends {
    grid-area: my-friends;
}

.messages{
    grid-area: messages;
}

.tasks {
    grid-area: tasks;
}

.project-1 {
    grid-area: project-1;
}

.project-2 {
    grid-area: project-2;
}

.project-3 {
    grid-area: project-3;
}

.my-day{
    grid-area: my-day;
}

.grid > * {
    background-color: var(--bg-tertiary);;
}

@media (max-width: 900px) {
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "my-friends my-day"
        "messages tasks"
        "project-1 project-2"
        "project-3 project-3";
    }
  }
  
  @media (max-width: 600px) {
    main {
      grid-template-columns: 1fr;
    }
    nav {
      flex-direction: row;
      justify-content: space-around;
      min-width: auto;
      background: var(--bg-tertiary);
      border-radius: var(--bd-radius);
      padding: var(--sp-sm-2);
    }
    .grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "my-friends"
        "my-day"
        "messages"
        "tasks"
        "project-1"
        "project-2"
        "project-3";
    }
  }
  